version: '3.8'

services:
  frontend:
    container_name: frontend-container
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app          # mount local code into container
      - /app/node_modules        # keep node_modules inside container
    command: npm run dev
    depends_on:
        - players-service
        - matches-service
        - users-service
        - auth-service
    networks:
      - transcendence-network

  players-service:
    container_name: players-microservice
    build:
      context: ./microservices/players
      dockerfile: Dockerfile
    ports:
      - "3101:3101"
    volumes:
      - ./database:/app/database   # DB files persist here
      - ./microservices/players/src:/app/src  # Only source code mounted
    restart: unless-stopped
    networks:
      - transcendence-network

  matches-service:
    container_name: matches-microservice
    build:
      context: ./microservices/matches
      dockerfile: Dockerfile
    ports:
      - "3102:3102"
    volumes:
      - ./database:/app/database
      - ./microservices/matches/src:/app/src
    depends_on:
      - players-service
    restart: unless-stopped
    networks:
      - transcendence-network

  users-service:
    container_name: users-microservice
    build:
      context: ./microservices/users
      dockerfile: Dockerfile
    ports:
      - "3103:3103"
    volumes:
      - ./database:/app/database
      - ./microservices/users/src:/app/src
    restart: unless-stopped
    networks:
      - transcendence-network
  
  auth-service:
    container_name: auth-microservice
    build:
      context: ./microservices/auth
      dockerfile: Dockerfile
    ports:
      - "3105:3105"
    volumes:
      - ./database:/app/database
      - ./microservices/auth/src:/app/src
    restart: unless-stopped
    networks:
      - transcendence-network
    environment:
      - MAILEROO=${MAILEROO}
      - MAILEROO_FROM=${MAILEROO_FROM}
    dns:
      - 1.1.1.1
    env_file:
      - ./.env

networks:
  transcendence-network:
    driver: bridge
